.autosplash-img {
    background-image: url(public/media/gift.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: fixed;
    z-index: -10019;
    width: 100%;
}

.splash-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin: 1em;
}

.splash-logo {
    font-size: min(20vw, 150px);
    font-weight: bold;
    color: seashell;
    animation: 1500ms linear scalein;
}

@keyframes scalein {
  0% {transform: scale(5) rotate(320deg); opacity: 0}
  50% {transform: scale(0.5) rotate(0deg);}
  100% {transform: scale(1);}
}
